bucket       = "replace-with-terraform-state-bucket"
key          = "live/dev/04-data-sources/custom-api/terraform.tfstate"
region       = "us-east-1"
dynamodb_table = "replace-with-terraform-lock-table"
encrypt        = true
