region            = "us-east-1"
state_bucket_name = "replace-with-terraform-state-bucket"
state_region      = "us-east-1"
state_key_prefix  = "live/dev"

data_source_name  = "my-custom-api-docs"
chunking_strategy = "FIXED_SIZE"
